<footer th:fragment="navigation">
    <nav id="navigation">
        <ul>
            <a href="login"><li th:unless="${login}" th:text="#{navigation.login}">Login</li></a>
            <a href="register"><li th:unless="${login}" th:text="#{navigation.register}">Register</li></a>
            <a href="add"><li th:if="${login}" th:text="#{navigation.add}">Add</li></a> <!-- TODO: make "+" icon -->
            <a href="setting"><li th:if="${login}" th:text="#{navigation.setting}">Setting</li></a> <!-- TODO: make "*" icon -->
            <li th:if="${login}" th:text="#{navigation.logout}">Logout</li>
        </ul>
    </nav>
</footer>
